<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>Tweet-Wall</title>
	</head>
	<body>
	
		<!-- Script Part -->
		<style>* {padding: 0; margin: 0}</style>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.3/pixi.min.js"></script>
		<script>
		
			var socket = io.connect('http://localhost:8080');
			
			//Create the renderer
			var renderer = PIXI.autoDetectRenderer(0,0);
			
			renderer.view.style.position = "absolute";
			renderer.view.style.display = "block";
			renderer.autoResize = true;
			renderer.resize(window.innerWidth, window.innerHeight);

			//Add the canvas to the HTML document
			document.body.appendChild(renderer.view);

			//Create a container object called the `stage`
			var stage = new PIXI.Container();
			

			
			var scoreValue = 0;
			
			var title = new PIXI.Container();
			textTitle = new PIXI.Text("TWEET WALL",{fontFamily : 'Gotham', fontSize: 30, fill : 0xffffff, align : 'center'});
			scoretxt =new PIXI.Text(scoreValue,{fontFamily : 'Gotham', fontSize: 20, fill : 0xffffff, align : 'left'});
			scoretxt.y = textTitle.height;
			scoretxt.anchor.set(0.5,0);
			scoretxt.x = textTitle.width/2;
				
			title.addChild(textTitle);
			title.addChild(scoretxt);
			title.x = renderer.width/2-title.width/2;
			stage.addChild(title);
			
			//Tell the `renderer` to `render` the `stage`
			renderer.render(stage);
			
			var tweets =[];
			var tweetsRendering= [];
			socket.on('tweet_stream', function(tweet){
				tweets[tweets.length]=tweet;
				
					if(PIXI.loader.resources[tweet.icon] == null)
					{
						PIXI.loader
							.add(tweet.icon)
							.load(setup);						
					}				
			});
				
			
			function setup() {
					//container du tweet
					tweetsRendering[tweetsRendering.length]=new PIXI.Container();
					
					//icone de l'utilisateur
					iconUsr = new PIXI.Sprite(PIXI.loader.resources[tweets[tweets.length-1].icon].texture);
					iconUsr.anchor.set(0.5,0);
					
					//texte du tweet
					textTwt = new PIXI.Text(tweets[tweets.length-1].text,{fontFamily : 'Gotham', fontSize: 12, fill : 0x4099ff, align : 'center',wordWrap: true, wordWrapWidth: 150});
					
					//Positionnement des éléments
					textTwt.y = iconUsr.height;
					iconUsr.x = textTwt.width/2
					
					
					
					var textbg2 = new PIXI.Graphics();
					textbg2.beginFill(0xFFFFFF, 1);
					textbg2.drawRoundedRect(textTwt.x-10,iconUsr.y-10, textTwt.width+20, textTwt.height+iconUsr.height+20, 20);
					textbg2.endFill();
					
					var textbg1 = new PIXI.Graphics();
					textbg1.beginFill(0x4099ff, 1);
					textbg1.drawRoundedRect(textTwt.x-12,iconUsr.y-12, textTwt.width+24, textTwt.height+iconUsr.height+24, 20);
					textbg1.endFill();
					
					var textbg1 = new PIXI.Graphics();
					textbg1.beginFill(0x4099ff, 1);
					textbg1.drawRoundedRect(textTwt.x-12,iconUsr.y-12, textTwt.width+24, textTwt.height+iconUsr.height+24, 20);
					textbg1.endFill();
					
					//ajout des elements au container principal
					tweetsRendering[tweetsRendering.length-1].addChild(textbg1);
					tweetsRendering[tweetsRendering.length-1].addChild(textbg2);
					tweetsRendering[tweetsRendering.length-1].addChild(iconUsr);
					tweetsRendering[tweetsRendering.length-1].addChild(textTwt);
					
					//évenement on click sur un tweet.
					tweetsRendering[tweetsRendering.length-1].interactive=true;
					tweetsRendering[tweetsRendering.length-1].on('mousedown', onClickTweet);
					
					
					
					//coordonnées aléatoires pour la position du tweet
					var randx = randomInt(0, renderer.width-(textbg1.width));
					var randy = randomInt(0, renderer.height-(textbg1.height));
					//positionement du container principal
					tweetsRendering[tweetsRendering.length-1].x = randx;
					tweetsRendering[tweetsRendering.length-1].y = randy;
						
					for(rtwit of tweetsRendering)
					{
						stage.addChild(rtwit);
					}
					renderer.render(stage);					
			}
			
			function onClickTweet()
			{
				stage.removeChild(this);
				renderer.render(stage);
				var i = tweetsRendering.indexOf(this);
				if(i != -1) {
					tweetsRendering.splice(i, 1);
				}
				title.removeChild(scoretxt);
				scoreValue++;
				scoretxt = new PIXI.Text(scoreValue,{fontFamily : 'Gotham', fontSize: 20, fill : 0xffffff, align : 'left'});
				scoretxt.y = textTitle.height;
				scoretxt.anchor.set(0.5,0);
				scoretxt.x = textTitle.width/2;
				title.addChild(scoretxt);
				renderer.render(stage);
			}
				
				
			function randomInt(min, max) {
			  return Math.floor(Math.random() * (max - min + 1)) + min;
			}
			
		</script>
	</body>
</html>